<h1 class="mx-auto" style="width: 500px; color: rgb(13, 13, 97);">WantfromECommerce</h1>
<nav class="navbar navbar-expand-lg navbar-ligh bg-primary">
    <a class="navbar-brand" href="#" style="color: rgb(0, 0, 0);">Wantfrom</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" style="color:rgb(0, 0, 0)">Productos <span class="sr-only"style="color:black">(Categorias)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color:rgb(0, 0, 0)">Ofertas</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:darkred">
            Catalogo
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link Action" href="#" style="color:black;">Action</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="Busqueda" placeholder="Busqueda" aria-label="Busqueda">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color:rgb(12, 11, 11)">Busqueda</button>
        </form>
    </div>
</nav>