<app-header></app-header>

<!-- nav bar left -->
<div class="sidenav">
    <a>Mis datos</a>
    <a>Ventas</a>
    <a>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Catalogo
        </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Productos</a>
                <a class="dropdown-item" href="#">Marcas</a>
                <a class="dropdown-item" href="#">Propiedades</a>
                <a class="dropdown-item" href="#">Actualizaciones</a>
                <a class="dropdown-item" href="#">Promociones</a>
            </div>
        </div>
    </a>
    <a>Usuario</a>
    <a>Clientes</a>
    <a>Reportes</a>
    <a>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contacto
        </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Chats con Vendedor</a>
                <a class="dropdown-item" href="#">Contacto con Garantia</a>
                <a class="dropdown-item" href="#">Libro de Reseñas</a>
            </div>
        </div>
    </a>
</div>


<div class="container">
    <router-outlet></router-outlet>
</div>